<% if @restaurants.any? %>
  <% @restaurants.all.each do |restaurant| %>
    <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2
    >
    <h3>Average rating: <%= star_rating(restaurant.average_rating)%></h3>
    <%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %></br>
    <%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %></br>
    <%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %></br>
    <h3>Reviews for <%= restaurant.name %></h3>
    <% if restaurant.reviews.any? %>
      <ul>
        <% restaurant.reviews.each do |review| %>
          <li>
            <%= review.thoughts %> [<strong><%= review.rating %></strong>/5]
          </li>
          <%= pluralize review.endorsements.count, 'endorsement' %>
        <%= link_to "Endorse this review", review_endorsements_path(review), method: :post %>
        <% end %>
      </ul>
    <% else %>
      <p>No reviews.</p>
    <% end %>
  <% end %>
<% else %>
  <h1>No restaurants yet</h1>
<% end %>

<a href="/restaurants/new">Add a restaurant</a>